<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/servico/solicitarOrcamento.css">

    <body>
        <%- include('../partials/header') %>

            <main class="main d-flex justify-content-center align-items-center">

                <div class="resumo col-lg-5 d-flex align-items-center justify-content-center">

                    <div class="imagem d-flex flex-column justify-content-center align-items-center">
                        <img src="/img/avatarPerfilProfissional/<%= profissional.avatar %>" alt="">
                    

                        <div class="card-body text-center">
                       <div class="properties-professional">
                        <h5 class="text-nome">
                            <%= `${profissional.nome} ${profissional.sobrenome}` %>
                        </h5>
                        <h5 class="text">
                            <%= profissional.area.nome %>
                        </h5>
                        <div class="description">
                            <strong>
                                <%= profissional.descricao %>
                            </strong>
                        </div>
                       </div>
                    </div>
                       
                        <div class="d-flex flex-column justify-content-center align-items-center">

                            <form action="/servicos/<%= profissional.id %>/solicitar" method="POST">
                                <label class="mt-2 col-12 col-md-12 col-lg-12" for=""><strong>No que posso lhe
                                        ajudar?</strong></label>
                                <textarea class="text-area mt-3 text-area col col-sm-10 col-md-8 col-lg-6" name="descricaoServico"
                                    rows="3" id=""></textarea>

                                <label class="mt-2 col-sm-12 col-md-12 col-lg-12" for=""><strong>Qual dia é ideal para
                                        você?</strong></label>
                                <input type="date" name="dataServico" class="mt-3 col col-sm-12 col-md-8 "
                                    id="dataServico" min="" max="" step="1">

                                <div>
                                    <button type="submit"
                                        class="btn btn-outline-info col-sm-6 col-md-6 col-lg-4 mt-4">Enviar
                                        Solicitação</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </main>
            <%- include('../partials/footer') %>

                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script src="/js/solicitarOrcamento.js"></script>
    </body>

</html>