<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/cliente/perfilCliente.css">

<body>
    <%- include('../partials/header')%>
    <main>
        <section class="titulo-pagina">
            <h1>Perfil do cliente</h1>
            <h3>Informações sobre: <%= cliente.nome %></h3>
            <h3><%= cliente.email %></h3>
        </section>
        <section class="formulario-geral">
            <form class="" action="/perfil/cliente/<%= cliente.id %>/editar?_method=PUT" method="POST">
                <div>
                    Aqui vai uma imagem
                </div>
                <br>
                <div>
                    <label for="nome">Nome:</label>
                        <br>
                        <input type="text" name="nome" value="<%= cliente.nome  %>">
                    </label>
                </div>
                <div>
                    <label for="sobrenome">Sobrenome:</label>
                        <br>
                        <input type="text" name="sobrenome" value="<%= cliente.sobrenome  %>">
                    </label>
                </div>
                <div>
                    <label for="cpf">CPF:</label>
                        <br>
                        <input type="number" name="cpf" value="<%= cliente.cpf %>">
                </div>
                <div>
                    <label for="CEP">CEP:</label>
                    <br>
                    <input type="text" name="cep" value="<%= cliente.cep %>">
                </div>
                <div>
                    <label for="endereco">Endereço:</label>
                    <br>
                    <input type="text" value="<%= locals.usuario.endereco %> " disabled>
                </div>
                <div>
                    <label for="endereco">Número:</label>
                    <br>
                    <input type="text" value="<%= cliente.numero %> ">
                </div>
                <br>
                <button type="submit" class="btn btn-warning">Finalizar Cadastro</button>
            </form>
            <form action="/perfil/cliente/<%= cliente.id %>/deletar?_method=DELETE" method="POST">
                <button class="btn btn-danger" type="submit"> Deletar conta!</button>
            </form>
        </section>
        <section class="carrossel">
            <h1>
                Aqui vai o carrossel =) NICE
            </h1>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>