<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/profissional/historicoServicos.css">

<body>
    <%- include('../partials/header')%>
    <main>
        <details>
            <summary><strong>FILTRO</strong></summary>
            <form action="/perfil/cliente/historico" class="form-checkbox ml-2" method="POST">
                <input value="1" class="btn-check" type="radio" id="orcamentar" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="orcamentar"> A Oçamentar </label>
                
                <input value="2" class="btn-check" type="radio" id="executar" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="executar"> Aguardando seu aceite </label>

                <input value="3" class="btn-check" type="radio" id="aceite" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="aceite"> A Executar </label>

                <input value="4" class="btn-check" type="radio" id="finalizado" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="finalizado"> Finalizados </label>

                <input value="5" class="btn-check" type="radio" id="cancelado" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="cancelado"> Cancelados </label>

                <button type="submit" class="btn btn-outline-success">Buscar</button>
            </form>

        </details>

        <div class="cards">
            <% if(dadosServicos != 'undefined' && dadosServicos.length > 0){ %>
            <% dadosServicos.forEach(servico => { %>

            <div class="card mt-5 mb-3" style="height: auto;">
                <img src="/img/avatarPerfilProfissional/<%= servico.profissional.avatar %>" class="card-img-top d-flex align-self-center" style="width: 15rem; height: 15rem">
                <h4 class="text-h4 d-flex align-self-center"><%= servico.profissional.nome %></h4>
                <h4 class="text-h4 d-flex align-self-center"><%= servico.profissional.sobrenome %></h4>
                <h4 class="text-h4 d-flex align-self-center"><%= servico.profissional.descricao %> </h4>
                <h4 class="text-h4 d-flex align-self-center"><%= servico.dataServico %> </h4>
                <h6 class="text-h6 d-flex align-items-center justify-content-center align-self-center"><%= servico.situacaoServico.estado %></h6>
                <% if (servico.situacaoServicoId == 2){ %>
                    <h4 class="text-h4 d-flex align-self-center">R$ <%= servico.precoServico %> </h4>
                    <form action="/servicos/<%= servico.id %>/aceitar?_method=PUT" method="POST" class="mt-3 mb-3 d-flex justify-content-center">
                        <button class="btn btn-success col-10" type="submit">Aceitar</button>
                    </form>
                <% } %>
                <% if (servico.situacaoServicoId !== 5 && servico.situacaoServicoId !== 4){ %>
                    <details>
                        <summary> Cancelar </summary>
                        <form action="/servicos/<%= servico.id %>/cancelar?_method=PUT" class="d-flex align-items-center flex-column" method="POST">
                            <div class="form-floating p-1 col-md-8">
                                <input type="text" name="descricaoServico" class="form-control" id="descricaoServico">
                                <label for="descricaoServico" class="form-label">Motivo</label>
                            </div>
                            <button type="submit" class="btn btn-danger col-md-6">Cancelar</button>
                        </form>
                    </details>
                <% } if(servico.situacaoServicoId == 5){ %>
                    <h5 class="text-center mt-2"><b>Descrição do cancelamento</b></h5>
                    <p class="text-center"> <%= servico.descricaoServico %> </p>
                <% } %> 
            </div>

            <% }) %>

            <% } if(dadosServicos.length < 1) { %>
                <div class="h1-sem-estado">
                    <h1> NÃO HÁ SERVIÇOS NESSA SITUAÇÃO </h1>
                </div>
            <% } %>

        </div>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>