<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/profissional/listaProfissionais.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

<body>
    
    <%- include('../partials/header') %>

    <main class="main-home">
        <details>
            <summary><strong>FILTRO</strong></summary>

            <p>
                <form class="form-checkbox" action="/perfil/cliente/profissionais" method="POST">
                    <div>

                        <input name="order" value="ASC" type="radio" class="btn-check" id="crescente" autocomplete="off">
                        <label class="btn btn-outline-info" for="crescente">Crescente</label>
    
                        <input name="order" value="DESC" type="radio" class="btn-check" id="decrescente" autocomplete="off">
                        <label class="btn btn-outline-info" for="decrescente">Decrescente</label>
                        <br>
                        
                        <input name="area" value="1" type="checkbox" class="btn-check" id="eletricista" autocomplete="off">
                        <label class="btn btn-outline-info" for="eletricista">Eletricista</label>

                        <input name="area" value="2" type="checkbox" class="btn-check" id="encanador" autocomplete="off">
                        <label class="btn btn-outline-info" for="encanador">Encanador</label>

                        <input name="area" value="3" type="checkbox" class="btn-check" id="pintor" autocomplete="off">
                        <label class="btn btn-outline-info" for="pintor">Pintor</label>

                    </div>  
                    <button type="submit" class="btn btn-outline-success align-middle">Buscar</button>
                </form>
            </p>

          </details>
        <div class="glider-container">
            <div class="glider d-flex justify-content-center">
                <% if(profissionais != 'undefined') { %>
                <% profissionais.forEach(profissional => { %>

                <div class="card m-3">
                    <img src="/img/avatarPerfilProfissional/<%= profissional.avatar %> "
                        class="card-img-top d-flex align-self-center" style="width: 15rem; height: 15rem">
                    <br>
                    <h5 class="text d-flex align-self-center"><%= profissional.nome %></h5>
                    <h4 class="text d-flex align-self-center"><%= profissional.sobrenome %></h4>
                    <h6 class="text d-flex align-self-center"><%= `${profissional.area.nome}`  %> </h6>
                    <h6 class="text d-flex align-self-center"><%= profissional.descricao %> </h6>
                    <a href="/servicos/<%= profissional.id %>/solicitar"
                        class="btn btn-outline-info  align-self-center mb-2" style="width: 30%">PERFIL</a>
                </div>

                <% }) %>
                <% } %>
            </div>

            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
            
        </div>
    </main> 

    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="/js/glider.js"></script> 
</body>
</html>