<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<!-- <link rel="stylesheet" href="/css/cliente/cardProf.css"> -->
<link rel="stylesheet" href="/css/global.css">

<body>
    
    <%- include('../partials/header') %>

    <main class="listaDeProf">
        <details>
            <form class="" action="/perfil/cliente/profissionais" method="POST">
                <section class=" checkbox">
    
                    <div>
    
                        <input name="order" value="ASC" type="radio" class="btn-check" id="Eletricista" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Eletricista">Crescente</label>
    
                        <input name="order" value="DESC" type="radio" class="btn-check" id="Encanador" autocomplete="off">
                        <label class="btn btn-outline-primary" for="Encanador">Decrescente</label>

                        <% for(let i = 0; i< area.length; i++) {%>
                            <input name="area" value="<%= area[i]%>" hidden>
                        <% } %> 
                        
                    </div>
                    <button type="submit" class="btn-outline-success align-middle">Buscar</button>
                    
                </section>
        </details>
        <div class="card">
            <% if(profissionais != 'undefined') { %>
                <% profissionais.forEach(profissional => { %>
    
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= `${profissional.nome} ${profissional.area.nome}`  %> </h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary"><%= profissional.id %> </a>
                        </div>
                    </div>
    
                <% }) %>
            <% } %>
        </div>
    </main> 

    <%- include('../partials/footer') %>

</body>
</html>