<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/cliente/perfilCliente.css">

<body>
    <%- include('../partials/header')%>
    <main>
        <section class="titulo-pagina">
            <h1>Perfil do cliente</h1>
            <h3>Informações sobre</h3>
        </section>
        <section class="formulario-geral">
            <form class="" action="perfil/cliente" method="POST">
                <div>
                    Aqui vai uma imagem
                </div>
                <br>
                <div>
                    <label for="nome">Nome:</label>
                        <br>
                        <input type="text" name="nome" value="<%= cliente.nome  %>">
                    </label>
                </div>
                <div>
                    <label for="sobrenome">Sobrenome:</label>
                        <br>
                        <input type="text" name="sobrenome" value="<%= cliente.sobrenome  %>">
                    </label>
                </div>
                <div>
                    <label for="cpf">CPF:</label>
                        <br>
                        <input type="number" name="cpf" value="<%= cliente.cpf %>">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <br>
                    <input type="email" name="email" value="<%= cliente.email %>">
                </div>
                <div>
                    <label for="CEP">CEP</label>
                    <br>
                    <input type="text" name="cep" value="<%= cliente.cep %>">
                </div>
                <div>
                    <label for="endereco">Endereço</label>
                    <br>
                    <input type="text" placeholder="Endereço" disabled>
                </div>
                <br>
                <button type="button" class="btn btn-success">Finalizar Cadastro</button>
            </form>
        </section>
        <section class="carrossel">
            <h1>
                Aqui vai o carrossel =)
            </h1>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>