<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/profissional/historicoServicos.css">

<body>

    <%- include('../partials/header')%>

    <main>

        <h1 class="title"> Lista de Serviços aguardando orçamento </h1>
        <% dadosServicos.forEach(dadoServico => { %>

            <section class="cards">
                
                <div class="card" style="width: 18rem;">
                    <img src="/img/avatarPerfilCliente/<%= dadoServico.cliente.avatar %> "
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= `${dadoServico.cliente.nome} ${dadoServico.cliente.sobrenome}` %></h5>
                        <p class="card-text"><%= dadoServico.descricao_servico %></p>
                    </div>
                <div class="card-body">
                    <a href="#" class="card-link"> Orçamentar </a>
                    <a href="#" class="card-link"> Cancelar Pedido </a>
                </div>
            </div>
            
        </section>
        
        <% }) %> 
    </main>

</body>

</html>