<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/profissional/historicoServicos.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">

<body>

    <%- include('../partials/header')%>

    <main class="main-historic">
        <details>
            <summary><strong>FILTRO</strong></summary>

            <form action="/perfil/profissional/historico" class="form-checkbox ml-2" method="POST">
                <input value="1"  class="btn-check" type="radio" id="orcamentar" name="statusServicoFromBody">    
                <label class="btn btn-outline-info"  for="orcamentar"> A Orçamentar </label>
                
                <input value="2"  class="btn-check" type="radio" id="executar" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="executar"> Aguardando aceite </label>

                <input value="3"  class="btn-check" type="radio" id="aceite" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="aceite"> A Executar </label>

                <input value="4"  class="btn-check" type="radio" id="finalizado" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="finalizado"> Finalizados </label>

                <input value="5"  class="btn-check" type="radio" id="cancelado" name="statusServicoFromBody">
                <label class="btn btn-outline-info" for="cancelado"> Cancelados </label>
                
                <button type="submit" class="btn btn-outline-success">Buscar</button>
            </form>
        </details>

        <% if(dadosServicos != 'undefined' && dadosServicos.length > 0){ %>

            <div class="glider-contain">

                <div class="glider">

                    <% dadosServicos.forEach(dadoServico => { %>

                        <div class="card ml-3 mr-3 mt-3 mb-1 p-1">
                            <img src="/img/avatarPerfilCliente/<%= dadoServico.cliente.avatar %>" class="img-client align-self-center">
                            
                            <div class="card-body texy-center">
                                <h5 class="card-title d-flex justify-content-center align-self-center"><%= `${dadoServico.cliente.nome} ${dadoServico.cliente.sobrenome}` %> </h5>
                                <h5 class="card-subtitle date-br text-h4 d-flex justify-content-center align-self-center"><%= dadoServico.dataServico %> </h5>

                                <p class="card-background d-flex justify-content-center align-self-center mt-2">Desc: <%= dadoServico.descricaoServico %></p>
                                <p class="card-title"> R$ <%= dadoServico.precoServico %> </p>

                                <% if(dadoServico.situacaoServicoId !== 5){ %>

                                <p class="card-subtitle cepsToApi mb-2"><%= dadoServico.cliente.cep %></p>
                                <p class="card-subtitle mb-2">NÚMERO: <%= dadoServico.cliente.numero %> </p>
                                
                                <% } %>

                                <% if (dadoServico.situacaoServicoId == 1){ %>
                                
                                    <details class="d-flex justify-content-center">
                                        <summary><strong>ORÇAMENTAR</strong></summary>
                                        <form action="/servicos/<%= dadoServico.id %>/orcamentar?_method=PUT" method="POST">
                                            <label for=""> <strong>VALOR:</strong>
                                                <input type="number" step="0.01" name="precoServico" rows="3" class="col-md-12">
                                            </label>
                                            <button class="btn btn-info col-md-4" type="submit">Enviar</button>
                                        </form>
                                    </details>

                                    <details>
                                        <summary><strong>RECUSAR SOLICITAÇÃO</strong></summary>
                                        <form action="/servicos/<%= dadoServico.id %>/cancelar?_method=PUT" method="POST">
                                            <label for="" class="col-md-12"><strong>MOTIVO:</strong></label>
                                            <textarea name="descricaoServico" class="col-md-8"></textarea>
                                            <button class="btn btn-danger col-md-4" type="submit">Enviar</button>
                                        </form>
                                    </details>
                                <% } %>
                                <% if (dadoServico.situacaoServicoId == 3) { %>
                                    <form action="/servicos/<%= dadoServico.id %>/finalizar?_method=PUT" method="POST">
                                        <button class="btn btn-success" type="submit">Finalizado</button>
                                    </form>
                                <% } %> 
                            </div>
                        </div>

                    <% }) %>

                </div>

                <button aria-label="Previous" class="glider-prev">«</button>
                
                <button aria-label="Next" class="glider-next">»</button>
                
                <div role="tablist" class="dots"></div>
            </div>

        <% } else{ %>

            <div class="not-service-contain d-flex justify-content-end align-items-center">
                <h1 class="mr-5">Que pena, <br/> não há nada aqui!</h1>
            </div>
            
        <% } %> 

    </main>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/historicoServicoProf.js"></script> 
    <script src="/js/dataServicoProf.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="/js/gliderWhitoutDraggable.js"></script> 
</body>

</html>