<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/profissional/historicoServicos.css">

<body>

    <%- include('../partials/header')%>

    <main>
        <nav>
            <form action="/perfil/profissional/historico" method="POST">
                <label for="orcamentar"> A Orçamentar
                    <input value="1" type="radio" id="orcamentar" name="statusServicoFromBody">    
                </label>

                <label for="executar"> Executados
                    <input value="2" type="radio" id="executar" name="statusServicoFromBody">
                </label>

                <label for="finalizado"> Finalizados
                    <input value="3" type="radio" id="finalizado" name="statusServicoFromBody">
                </label>
                <button type="submit">Buscar</button>
            </form>
        </nav>
        <h1 class="title"> Lista de Serviços aguardando orçamento </h1>
        <% dadosServicos.forEach(dadoServico => { %>

            <section class="cards">
                
                <div class="card" style="width: 18rem;">
                    <img src="/img/avatarPerfilCliente/<%= dadoServico.cliente.avatar %> "
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= `${dadoServico.cliente.nome} ${dadoServico.cliente.sobrenome}` %></h5>
                        <p class="card-text"><%= dadoServico.descricaoServico %></p>
                    </div>
                <div class="card-body">
                    <details>
                        <summary>Orçamentar</summary>
                        <form action="/servicos/<%= dadoServico.id %>/orcamentar?_method=PUT" method="POST">
                            <label for=""> Insira o valor previsto para o serviço
                                <input type="number" step="any" name="precoServico">
                            </label>
                            <button type="submit">Enviar Orçamento</button>
                        </form>
                    </details>
                    
                    <details>
                        <summary>Cancelar</summary>
                        <form action="/servicos/<%= dadoServico.id %>/cancelar?_method=PUT" method="POST">
                            <label for=""> Insira o valor previsto para o serviço
                                <textarea name="descricaoServico">
                                </textarea>
                            </label>
                            <button type="submit">Enviar Orçamento</button>
                        </form>
                    </details>
                </div>
            </div>
            
        </section>
        
        <% }) %> 
    </main>

</body>

</html>