<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main class="mt-2 mb-2" >
       <section class="d-flex align-items-center justify-content-center">

        <div class="card col-11 col-sm-8 align-items-center">

            <img src="/img/avatarPerfilProfissional/<%= profissional.avatar  %> " style="height: 30vh; width: 80%; max-width: 210px;" class="card-img-top" alt="...">
            
            <div class="card-body text-center">
                <h5 class="card-title"><%= `${profissional.nome} ${profissional.sobrenome}`  %></h5>
                <h5 class="card-title"><%= `${profissional.area.nome}`  %></h5>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim placeat impedit laboriosam perferendis, neque eveniet ipsa ab? Praesentium accusantium quos quo repellendus eligendi dolore, nesciunt est? Consequuntur quam sit eum?
                </p>
                <details>
                    <summary>Solicitar Orçamento</summary>

                    <form action="/perfil/cliente/profissionais/<%= profissional.id %>/resumo" method="POST">
                        <label class="mt-2 col-12 col-md-12 col-lg-12" for=""><strong>Escreva brevemente o serviço a realizar!</strong></label>
                        <textarea class="p-2" name="descricao_servico" id="" cols="30" rows="5">Olá, <%= profissional.nome %>!  </textarea>
                        
                        <label class="mt-2 col-12 col-md-12 col-lg-12" for=""><strong>Escolha a data para a execução da tarefa.</strong></label>
                        <input type="date" name="data_servico" class="col-6" id="data_servico" min="" max="" step="1"> 
                        
                        <button type="submit" class="btn btn-primary col-8 col-md-8 col-lg-8 mt-3">Enviar Solicitação</button>
                    </form>

                </details>   
            </div>
            
        </div>

       </section>
    </main>
    <%- include('../partials/footer')  %> 

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/resumoProfissional.js"></script>
</body>

</html>