<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/cadastro.css">

<body>

    <%- include('../partials/header') %>

    <main class="main-home">
        <% if (typeof errors !== 'undefined'){ %>
        <% for(error in errors){ %>
        <li> <%= `${errors[error].msg}` %> </li>
        <% } %>
        <% } %>

        <section class="cadastre-se">
            <form action="/cadastro" method="POST" class="formulario">
                <h4>Cadastre-se</h4>
    
                <div class="col-md">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="exemplo@email.com"
                        value="<%= locals.old && old.email %>">
                </div>
                <br>
                <div class="row-sm">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="**********">
                    <label for="confirmeSenha">Confirme a senha</label>
                    <input type="password" name="confirmeSenha" id="confirmeSenha"
                        placeholder="**********">
                </div>
                <div class="col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Nome"
                        value="<%= locals.old && old.nome %>">
                </div>
                <div class="col-md-6">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome"
                        value="<%= locals.old && old.sobrenome %>">
                </div>
                <div class="col-md-6">
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Não utilizar separadores!"
                        value="<%= locals.old && old.cpf %>">
                </div>
                <div class="col-md-6">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <input type="date" name="data_nascimento" id="dataNascimento"
                        value="<%= locals.old && old.data_nascimento %>">
                </div>
                <div class="col-md-6">
                    <label for="cep">CEP</label>
                    <input type="text" name="cep" id="cep" placeholder="12345678"
                        value="<%= locals.old && old.cep %>">
                </div>
                <div class="col-md-6 mb-2">
                    <label for="telefone">Telefone</label>
                    <input type="tel" name="telefone" id="telefone" placeholder="(DDD)912345678"
                        value="<%= locals.old && old.telefone %>">
                </div>
                <div class="col-md-12">
                    <div class="form-check">
                        <input name="profissional" class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Sou Profissional
                        </label>
                    </div>
                    <select name="area_id" class="form-select form-select-lg mb-2" aria-label=".form-select-lg example"
                        id="gridCheck">
                        <% areas.forEach(area => { %>
                        <option value="<%= area.id %>"><%= area.nome %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-md-12 mt-2 text-center">
                    <button type="submit" class="btn btn-primary col-md-6">Salvar</button>
                </div>
            </form>
        </section>
    </main>

    <%- include('../partials/header') %>

</body>

</html>