<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>

    <main class="m-5">
        <h1 class="text-center">Cadastre-se</h1>

        <% if (typeof errors !== 'undefined'){ %>
            <% for(error in errors){ %>
                <li> <%= `${errors[error].msg}` %> </li>
            <% } %> 
        <% } %> 
        <form class="row g-3" action="/cadastro" method="POST">
            <div class="col-md-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="exemplo@email.com" value="<%= locals.old && old.email %>">
            </div>
            <div class="col-md-6">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" name="senha" class="form-control" id="senha" placeholder="**********">
            </div>
            <div class="col-md-6">
                <label for="confirmeSenha" class="form-label">Confirme a senha</label>
                <input type="password" name="confirmeSenha" class="form-control" id="confirmeSenha" placeholder="**********">
            </div>
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" value="<%= locals.old && old.nome %>">
            </div>
            <div class="col-md-6">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" id="sobrenome" placeholder="Sobrenome" value="<%= locals.old && old.sobrenome %>">
            </div>
            <div class="col-md-6">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" name="cpf" class="form-control" id="cpf" placeholder="Não utilizar separadores!" value="<%= locals.old && old.cpf %>">
            </div>
            <div class="col-md-6">
                <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                <input type="date" name="data_nascimento" class="form-control" id="dataNascimento" value="<%= locals.old && old.data_nascimento %>">
            </div>
            <div class="col-md-6">
                <label for="cep" class="form-label">CEP</label>
                <input type="text" name="cep" class="form-control" id="cep" placeholder="12345678" value="<%= locals.old && old.cep %>">
            </div>
            <div class="col-md-6 mb-2">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" name="telefone" class="form-control" id="telefone" placeholder="(DDD)912345678" value="<%= locals.old && old.telefone %>">
            </div>
            <div class="col-md-12">
                <div class="form-check">
                    <input name="profissional" class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                       Sou Profissional
                    </label>
                </div>
                <select name="area_id" class="form-select form-select-lg mb-2" aria-label=".form-select-lg example" id="gridCheck">
                    <% areas.forEach(area => { %>
                        <option value="<%= area.id %>"><%= area.nome %></option>
                    <% }) %> 
                  </select>
            </div>
            <div class="col-md-12 mt-2 text-center">
                <button type="submit" class="btn btn-primary col-md-6">Salvar</button>
            </div>
        </form>
    </main>

    <%- include('../partials/header') %>

</body>

</html>