<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/login.css">

<body>

    <%- include('../partials/header')%>

    <main class="main-home">
        <% if(typeof locals.errorValidation !== 'undefined'){ %>
            <p hidden><%= locals.errorValidation %></p>
        <% } %> 

        <section class="login">
            
            <form action="/login/?usuario=<%= queryUsuario %> " method="POST" class="formulario">
                <h4>LOGIN</h4>
                <div>
                    <label for="email">Email</label>
                    <br>
                    <input name="email" type="email">
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <br>
                    <input name="senha" type="password">
                </div>
                <br>
                <a href="/perfil/cliente/profissionais">
                    <button class="btn btn-outline-info align-center" type="submit">Entrar</button>
                </a>
                <a href="/cadastro">Cadastre-se</a>
            </form>

        </section>
    </main>

    <%- include('../partials/footer')%>

</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>

</html>